<div class="h2 text-center" style="margin-top: 100px;">Search Product</div>
<div class="container-fluid">
  <div class="d-flex justify-content-around">
    <%= form_with(url: search_products_path, method: :get, local: true) do |f| %>
    <span class="fs-6">By Product Name</span> <%= f.text_field :pr, placeholder: "Search by product name" %>
    <span class="fs-6">By Product availability </span> <%= f.check_box :pa %>
    <span class="fs-6"></span> <%= f.hidden_field :id , value: @pharmacy.id %>
      <%= f.submit 'search' ,class:'btn btn-outline-success me-5'%>
    <% end %>
  </div>
</div>

<div class="h2 text-center mb-5 d-flex justify-content-center" style="margin-top: 100px;">
<div class="">Pharmacy Détails</div>
<% if current_user.favorites.find_by(pharmacy_id: @pharmacy.id).present? %>
    <div class="ml-5"><a class="btn btn-outline-danger" data-confirm="Delete favorites ?" data-method="delete" href="<%= favorite_path(id: current_user.favorites.find_by(pharmacy_id: @pharmacy.id).id, pharmacy_id: @pharmacy.id) %>"> Delete an Favorite</a></div>
<% else %>
    <div class="ml-5"><a class="btn btn-outline-success a-hover" data-confirm="Sur to add an favorites ?" data-method="post" href="<%= favorites_path(pharmacy_id: @pharmacy.id) %>"> And an Favorite</a></div>
<% end %>
 </div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card card-block mb-5 p-5" style=" background-color: #78c9c5;">
          <p style="font-family: 'Ubuntu', sans-serif; color: #fff; font-size: 18px; line-height: 2.0;">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                <strong class="mr-5">Name:</strong>
                <strong class="mr-5">Contact:</strong>
                <strong class="mr-5">Whatsapp:</strong>
                <strong class="mr-5">City:</strong><br>
                <strong class="mr-5">Quartier:</strong>
                </div>
                <div class="col-lg-6 col-md-6">
                <%= @pharmacy.name %><br/>
                <%= @pharmacy.contact %><br/>
                <%= @pharmacy.whatsapp %><br/>
                <%= @pharmacy.city %><br/>
                <%= @pharmacy.quartier %>
                </div>
            </div>
          </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="card card-block mb-5 p-5" style=" color: #53A39F;">
          <p style="font-family: 'Ubuntu', sans-serif; color: #fff; font-size: 18px; line-height: 2.0;">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                <strong class="mr-2">Lundi:</strong><br/>
                <strong class="mr-2">Mardi:</strong><br/>
                <strong class="mr-2">Mercredi:</strong><br/>
                <strong class="mr-2">Jeudi:</strong><br>
                <strong class="mr-2">Vendredi:</strong><br/>
                <strong class="mr-2">Samedi:</strong><br/>
                <strong class="mr-2">Dimanche:</strong><br/>
                </div>
                <div class="col-lg-6 col-md-6">
                <%= @pharmacy.schedules[0].lundi %><br/>
                <%= @pharmacy.schedules[0].mardi %><br/>
                <%= @pharmacy.schedules[0].mercredi %><br/>
                <%= @pharmacy.schedules[0].jeudi %><br/>
                <%= @pharmacy.schedules[0].vendredi%><br/>
                <%= @pharmacy.schedules[0].samedi%><br/>
                <%= @pharmacy.schedules[0].dimanche%><br/>
                </div>
            </div>
          </p>
      </div>
    </div>
  </div> 
</div>
<div class="container">
    <div class="h2 text-center"> All Product </div>
    <div class="row mt-5">
        <% @products.each do |product|%>
            <div class="col-md-3 col-sm-6 item">
                <div class="card item-card card-block">
                    <img class="-img-" src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                    <h5 class="item-card-title mt-3 ml-2 mb-3">
                        <%= product.name %>
                    </h5>
                    <p class="card-text">
                        <strong class="ml-2">Disponibilité:</strong><% if product.available %> Disponible <% else %> Indisponible pour le moment <% end %><br>
                    </p>
                    <a class="btn a-hover" href="<%= product_path(product.id) %>">Show More</a>
                </div>
            </div>
            <% end %>
    </div>
</div>


<p>Commentaires </p>
  
<div id="comments_area" class="">

    <%= render partial: 'comments/index', locals: { comments: @comments, pharmacy: @pharmacy } %>

</div>
<%= render partial: 'comments/form', locals: { comment: @comment, pharmacy: @pharmacy } %>

<%= link_to 'Back', pharmacies_path, class:"btn btn-outline-success ml-5 mt-5 text-center" %>