<% @title = "HealthSpace - Inscription" %>
<div class="account-home-btn d-none d-sm-block">
</div>
<section class="bg-account-pages vh-100">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row no-gutters align-items-center">
          <div class="col-lg-12">
            <div class="login-box">
              <div class="row align-items-center no-gutters">
                <div class="col-lg-6">
                  <div class="bg-light">
                    <div class="row justify-content-center">
                      <div class="col-lg-10">
                        <div class="home-img login-img text-center d-none d-lg-inline-block">
                          <div class="animation-2"></div>
                          <div class="animation-3"></div>
                          <img src="https://user-images.githubusercontent.com/72025145/137671728-2ef61f13-2af0-4f7b-90e5-38b8af6f05f0.png" class="img-fluid" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row justify-content-center">
                    <div class="col-lg-11">
                      <div class="p-5">
                        <div class="text-center mt-3">
                          <img src="https://user-images.githubusercontent.com/72025145/137684945-16f6e824-e651-47a5-bded-13e990702f77.png" alt=""
                                                              height="44">
                          <p class="text-muted mt-3">Créer un nouveau compte
                          </p>
                        </div>
                        <div class="p-3 custom-form">
                          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                            <%= render "devise/shared/error_messages", resource: resource %>
                            <div class="form-group">
                              <%= f.label I18n.t("activerecord.attributes.user.name") %><br />
                              <%= f.text_field :name, autocomplete: "name", class: "form-control", id: "firstname", placeholder: "Nom" %>
                            </div>
                            <div class="form-group">
                              <%= f.label I18n.t("activerecord.attributes.user.email") %><br />
                              <%= f.email_field :email, autocomplete: "email", class: "form-control", id: "email", placeholder: "E-mail" %>
                            </div>
                            <div class="form-group">
                              <label><%= I18n.t("activerecord.attributes.user.city") %></label><br />
                              <%= f.select :city, ["Cotonou", "Abomey-Calavi", "Porto-Novo", "Parakou", "Djougou", "Bohicon", "Natitingou", "Savè", "Abomey", "Nikki", "Lokossa", "Ouidah", "Dogbo-Tota", "Kandi", "Covè", "Malanville", "Pobé", "Kérou", "Savalou", "Sakété", "Comè", "Bembéréké", "Bassila", "Banikoara", "Kétou"," Dassa-Zoumè", "Tchaourou", "Allada", "Aplahoué", "Tanguiéta", "N'Dali", "Segbana", "Athiémé", "Grand Popo", "Kouandé"], class: "form-control", prompt: 'Ville' %>
                            </div>
                            <div class="form-group">
                              <label><%= I18n.t("activerecord.attributes.user.quartier")%></label><br />
                              <span style="font-size: 10px; color: red;">Assurez-vous d'entrer le bon nom de votre quartier.</span>
                              <%= f.text_field :quartier, autocomplete: "quartier", class: "form-control", placeholder: "Quartier" %>
                            </div>
                            <div class="form-group">
                              <label >Qui êtes vous ?</label> <br/>
                              <span class="text-info" style="font-size: 10px"><strong>Patient: Je cherche une pharmacie<br/>
                                  Pharmcien: J'ai une Pharmacie</strong></span><br/>
                              <%= f.select :user_role, [ "Patient", "Pharmacien"], class: "form-control", prompt: 'Qui êtes vous ?' %>
                            </div>
                            <div class="form-group">
                              <%= f.label I18n.t("label.user.password_label") %>
                              <% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> caractères minimum)</em>
                              <% end %><br />
                              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "userpassword", placeholder: "Mot de passe" %>
                            </div>
                            <div class="field">
                              <%= f.label I18n.t("label.user.password_c_label") %><br />
                              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "userpasswordconfirmation", placeholder: "Mot de passe de confirmation" %>
                            </div>
                            <div class="actions mt-3">
                              <%= f.submit I18n.t("label.user.sign_up"), class: "btn btn-primary btn-block" %>
                            </div>
                            <div class="mt-4 mb-0 text-center">
                              <p class="mb-0">J'ai deja un compte.<a href="<%= new_user_session_path %>" class="text-success"><%= I18n.t("label.user.sign_in") %></a></p>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  </div>
</section>
<!-- end account-pages  -->
