<section class="bg-account-pages vh-100" style="margin-top: 100px">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row no-gutters align-items-center">
          <div class="col-lg-12">
            <div class="login-box">
              <div class="row align-items-center no-gutters">
                <div class="col-lg-6">
                  <div class="bg-light">
                    <div class="row justify-content-center">
                      <div class="col-lg-10">
                        <div
                                                    class="home-img login-img text-center d-none d-lg-inline-block">
                          <div class="animation-2"></div>
                          <div class="animation-3"></div>
                          <img src="https://user-images.githubusercontent.com/72025145/138407670-e583a083-555d-4be0-ab6d-0f38933b7752.jpg" class="img-fluid" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row justify-content-center">
                    <div class="col-lg-11">
                      <div class="p-4">
                        <div class="text-center mt-3">
                          <img src="https://user-images.githubusercontent.com/72025145/137684945-16f6e824-e651-47a5-bded-13e990702f77.png" alt=""
                                                            height="44">
                          <p class="text-info mt-3" style="font-size: 18px;">Opening Hours.</p>
                          <p class="text-muted mt-3">Si vous êtes ouvert écrivez <span class="text-info">comme ceci 8h à 18h</span> sinon écrivez <span class="text-info">Fermée.</span>.</p>
                        </div>
                        <div class="p-3 custom-form">
                          <%= form_with(model: schedule, local: true) do |form| %>
                            <% if schedule.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
                                <ul>
                                  <% schedule.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                                </ul>
                              </div>
                            <% end %>
                            <div class="form-group">
                              <%= form.label :lundi %><br />
                              <%= form.text_field :lundi, class: "form-control", id: "lundi", placeholder: "Exemple: 8h à 21h" %>
                            </div>
                            <div class="form-group">
                              <%= form.label :mardi %>
                              <%= form.text_field :mardi, class: "form-control", id: "mardi", placeholder: "Exemple: 8h à 21h" %>
                            </div>
                            <div class="form-group">
                              <%= form.label :mercredi %><br />
                              <%= form.text_field :mercredi, class: "form-control", id: "mercredi", placeholder: "Exemple: 8h à 21h" %>
                            </div>
                            <div class="form-group">
                              <%= form.label :jeudi %><br />
                              <%= form.text_field :jeudi, class: "form-control", id: "jeudi", placeholder: "Exemple: 8h à 21h" %>
                            </div>
                            <div class="form-group">
                              <%= form.label :vendredi %><br />
                              <%= form.text_field :vendredi, class: "form-control", id: "vendredi", placeholder: "Exemple: 8h à 21h" %>
                            </div>
                            <div class="form-group">
                              <%= form.label :samedi %><br />
                              <%= form.text_field :samedi, class: "form-control", id: "samedi", placeholder: "Exemple: 8h à 21h" %>
                            </div>
                            <div class="form-group">
                              <%= form.label :dimanche %><br />
                              <%= form.text_field :dimanche, class: "form-control", id: "dimanche", placeholder: "Exemple: 8h à 21h" %>
                            </div>
                            <div class="mt-3">
                              <%= form.submit "Enregistrer les horaires.", class: "btn btn-primary btn-block" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  </div>
</section>
<!-- end account-pages  -->
