<p>
  <strong>Lundi:</strong>
  <%= @schedule.lundi %>
</p>
<p>
  <strong>Mardi:</strong>
  <%= @schedule.mardi %>
</p>
<p>
  <strong>Mercredi:</strong>
  <%= @schedule.mercredi %>
</p>
<p>
  <strong>Jeudi:</strong>
  <%= @schedule.jeudi %>
</p>
<p>
  <strong>Vendredi:</strong>
  <%= @schedule.vendredi %>
</p>
<p>
  <strong>Samedi:</strong>
  <%= @schedule.samedi %>
</p>
<p>
  <strong>Dimanche:</strong>
  <%= @schedule.dimanche %>
</p>
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Retour', schedules_path %>
