
<div class="container">
  <div class="d-flex justify-content-around flex-column"  style="margin-top: 100px;">
    <div class="h2 text-center">Product Informations </div>
    <div style="margin: 0 auto 0 auto;">
      <% if @product.pharmacy.id != current_user.pharmacy.id %>
      <%= link_to "Demander à la pharmacie", { :controller => "products", :action => "asking", :pn => @product.name, :wsp => @product.pharmacy.whatsapp, :phn => @product.pharmacy.name }, :class => "btn btn-outline-success" %>
      <% else %>
      C'est un de vos produits.
      <% end %>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2" style="margin-top: 80px;">
    <div class="col mb-4">
      <div class="card">
      <% if @product.first_image_url %>
        <%= image_tag(@product.first_image_url, :alt => @product.name, class: "card-img-top") %>
        <% else %>
        <%= image_tag(@product.first_image_temp, :alt => @product.name, class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= @product.name %></h5>
          <p class="card-text mb-5"><%= @product.description %></p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
  <div class="card">
    <% if @product.second_image_url %>
      <%= image_tag(@product.second_image_url, :alt => @product.name, class: "card-img-top") %>
    <% else %>
    <%= image_tag(@product.second_image_temp, :alt => @product.name, class: "card-img-top") %>
    <% end %>
    <div class="card-body">
    Image
    </div>
  </div>
</div>
  </div>
</div>

<%= link_to 'Retour', pharmacien_path(current_user.id), class:"btn btn-outline-success ml-5 mt-5 text-center" %>